﻿<tw-storydata name="LockedChestStandart" startnode="1" creator="Twine" creator-version="2.2.1" ifid="72368727-F7E8-42CE-BBA1-98314CAC2FBA" zoom="1" format="Harlowe" format-version="" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">

</style><script role="script" id="twine-user-script" type="text/twine-javascript">

</script><tw-passagedata pid="1" name="start" tags="" position="200,75" size="100,100">Суднук закрыт.
    &lt;&lt;if (KeyExist()) &gt;&gt;
    [[Открыть ключом.]]
    &lt;&lt;else&gt;&gt;
    &lt;&lt;if NPicklock &gt; 0&gt;&gt;
    [[Попытаться взломать.]]
    &lt;&lt;endif&gt;&gt;
    &lt;&lt;endif&gt;&gt;
    [[Попытаться сломать замок.]]
    [[Уйти в закат. -&gt;end]]</tw-passagedata><tw-passagedata pid="2" name="Открыть ключом." tags="" position="110,369" size="100,100">&lt;&lt;OpenChest()&gt;&gt;
    [[end]]</tw-passagedata><tw-passagedata pid="3" name="Попытаться взломать." tags="" position="350,550" size="100,100">
    &lt;&lt;if UsePicklock() &gt;&gt;
    &lt;&lt;OpenChest()&gt;&gt;
    Успех.
    [[end]]
    &lt;&lt;else&gt;&gt;
    &lt;&lt;NPiclock = 0&gt;&gt;
    Не получилось.
    [[Надо подумать.-&gt;start]]
    &lt;&lt;endif&gt;&gt;
</tw-passagedata><tw-passagedata pid="4" name="Попытаться сломать замок." tags="" position="537,446" size="100,100">&lt;&lt;DoCrachChest()&gt;&gt;
    &lt;&lt;if ChestCracked&gt;&gt;
    Сундук сломан, как и его содержимое.
    [[end]]
    &lt;&lt;else&gt;&gt;
    Сундук слишком крепкий.
    [[Надо подумать-&gt;start]]
    &lt;&lt;endif&gt;&gt;</tw-passagedata><tw-passagedata pid="5" name="end" tags="" position="975,75" size="100,100">Уйти в закат.</tw-passagedata></tw-storydata>

